/* ESTILOS GERAIS */

body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

/* HEADER */

.header {
    background: #15161c;
    padding: 30px 0;
}

.header-container {
    max-width: 960px;
    margin: 0 auto;
}

.header-container:before, .header-container:after {   /* Clearfix */
    content: '';
    display: table;
    clear: both;
}

.sonora-logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 5px;
    color: #edebeb;
    float: left;
}

.menu {
    float: right;
}

.menu ul li {
    list-style: none;
    text-transform: uppercase;
    display: inline-block;
    padding-left: 15px;
}

.menu ul li a {
    text-decoration: none;
    color: #d4d4d4;
    font-size: 1em;
    letter-spacing: 2px;
    line-height: 30px;
    padding: 10px;
}

.menu ul li a:hover {
    color: #fff;
}

/* RESPOSIVO HEADER */

@media (max-width: 783px) {
    .header {
        text-align: center;
        padding: 10px 5px;
    }

    .menu {
        float: none;
        clear: both;
        text-align: center;
    }

    .sonora-logo {
        float: none;
        margin-top: 10px;
        display: inline-block;
    }

    .menu ul li {
        padding-left: 0;
    }

    .menu ul li a {
        display: block;
        margin-top: 5px;
        float: left;
    }

}

/* ESTRUTURA */

.estrutura {
    background: url(../img/estrutura-bg.jpg) no-repeat center;
    background-size: cover;
}

.estrutura-cabecalho-container {
    max-width: 960px;
    margin: 0 auto;
}

.estrutura-cabecalho-container h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    font-size: 2em;
    padding: 50px 0;
}

.estrutura-cabecalho-container h1:after {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    margin: 0 auto;
    background:#edebeb;
}

.estrutura-container {
    max-width: 960px;
    margin: 0 auto;
}

.estrutura-texto {
    text-align: center;
}

.estrutura-texto h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8em;
    letter-spacing: 1px;
    color: #15161c;
    margin-top: 40px;
}

.estrutura-texto p {
    width: 600px;
    margin: 30px auto;
    text-align: center;
    font-size: 1.3em;
    line-height: 35px;
}

.estr-fotos-container {
    max-width: 960px;
    margin: 0 auto;
}

.estr-fotos-container:before, .estr-fotos-container:after {  /* Clearfix */
    content: '';
    display: table;
    clear: both;
}

.estrutura-fotos {
    float: left;
    margin: 40px 15px 0 15px;
}

.estrutura-fotos img {
    width: 450px;
    border: 1px solid #15161c;
}

.estrutura-fotos h3 {
    text-align: center;
    font-size: 1.2em;
    margin-top: 10px
}

.estrutura-fotos p {
    width: 400px;
    text-align: center;
    margin: 5px 0 40px 10px;
}

.foto-mic {
    height: 292px;
}

/* RESPONSIVO ESTRUTURA */

@media (min-width: 821px) and (max-width: 970px) {

    .estr-fotos-container {
        max-width: 470px;
    }

}


@media (min-width: 670px) and (max-width: 820px) {
    .estrutura-fotos {
        margin-top: 20px;
    }
   
    .estr-fotos-container {
       max-width: 470px;
   }


}

@media (max-width:669px) {
    
    .estrutura-texto h2 {
        font-size: 1.3em;
    }
    
    .estrutura-texto p {
        width: 300px;
        font-size: 1.125em;
        line-height: 30px;
    }
   
    .estrutura-fotos {
        margin-top: 20px;
    }

    .estr-fotos-container {
        max-width: 330px;
    }

    .estrutura-fotos p {
        width: 300px;
        margin-left: 0;
        margin-bottom: 30px;
    }

    .estrutura-fotos img {
        width: 300px;
    }

    .foto-mic {
        height: 200px;
    }
}

/* CALL PARA OS CURSOS */

.call-cursos {
    background: #15161c;
    height: 128px;
}

.call-container {
    max-width: 960px;
    margin: 0 auto;
}

.call-info {
    text-align: center;
}

.call-info p {
    color: #edebeb;
    padding: 20px 0;
    margin-bottom: 10px;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn-cursos {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding: 10px 30px;
    color: #d4d4d4;
    border: 3px solid #d4d4d4;
    border-radius: 5px;
}

.btn-cursos:hover {
    color: #fff;
    border: 3px solid #fff;
}

/* RESPONSIVO CALL PARA OS CURSOS */

@media (max-width: 669px) { 

    .call-container {
        max-width: 400px;
    }

    .call-cursos {
        height: 170px;
    }

    .call-info p {
        line-height: 30px;
    }

    .btn-cursos {
     padding: 10px 60px;
    }

}

/* CONTATO */

.contato {
    max-width: 960px;
    margin: 0 auto;
}

.contato:before, .contato:after {
    content: '';
    display: table;
    clear: both;
}

.contato-info {
    float: left;
    width: 300px;
    margin: 20px auto;
}

.contato-info p {
    font-size: 20px;
    margin-top: 5px;
    color: #15161c;
}

.tel {
    margin-top: 0 !important;
}

.contato-info h3:after {
    content: '';
    background: #15161c;
    width: 50px;
    height: 2px;
    display: block;
    margin: 5px 0;
}

.contato-info img {
    width: 50px;
    margin-top: 5px;
    margin-right: 5px;
}

img.insta {
    width: 51px;
}

/* RESPONSIVO CONTATO */

@media (min-width: 821px) and (max-width: 970px) {
    .contato {
        max-width: 470px;
    }

    .contato-info {
        width: 470px;
    }
}


@media (min-width: 670px) and (max-width: 820px) {
    .contato {
        max-width: 470px;
    }

    .contato-info {
        width: 470px;
    }


}

@media (max-width:669px) {
    .contato {
        max-width: 300px;
    }

    .contato-info {
        width: 300px;
    }

}


/* FOOTER */

.footer {
    background: #edebeb;
}

.footer-container {
    max-width: 960px;
    margin: 0 auto;
}

.footer-container p {
    padding: 10px 0;
    font-size: 12px;
}

.footer-container p a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.footer-container p a:hover {
    text-decoration: underline;
}

/* RESPONSIVO FOOTER */

@media (min-width: 821px) and (max-width: 970px) {
    .footer-container {
        max-width: 480px;
    }

    .footer-container p {
        line-height: 20px;
    }
}


@media (min-width: 670px) and (max-width: 820px) {
    .footer-container {
        max-width: 480px;
    }

    .footer-container p {
        line-height: 20px;
    }

}

@media (max-width:669px) {

    .footer-container {
        max-width: 300px;
    }

    .footer-container p {
        line-height: 20px;
    }
}